/* === | FONTS: Import Google Fonts | === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 20px;

    background: #554cc7;
    background-clip: cover;
    background-attachment: fixed;
}

/* === | TOP BAR | === */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
    background-color: #000c7d;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    color: white;
}

/* === | HERO SECTION: Picture for Display | === */
.hero-section {
    min-height: 500px;
    margin-top: 50px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    margin: 0;
    z-index: 10;
    position: absolute;

    color: white;
    font-size: 4rem;
    line-height: 0.8;
    text-align: center;
}

#hero-pic {
    height: 500px;
    width: 100%;
    border-radius: 6px;
    opacity: 0.75;
    object-fit: cover;

    -webkit-box-reflect: below 0px
    linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
}

/* === | CONTENT SECTION | === */
/* == | SECTION BREAK | == */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.line-break {
    height: 10px;
    flex-grow: 1;
    background-color: white;
    opacity: 0.5;
}

.section-text {
    padding: 0 20px;
    color: white;
    font-weight: 500;
    font-size: 36px;
    white-space: nowrap;
    letter-spacing: 2px;
}

/* == | AUTOBIOGRAPHY SECTION | == */
.bio-section {
    min-height: 500px;
    background-color: #3d3699;
}

#featured-photo {
    border-radius: 15px;
    height: 350px;
    width: 350px;
}

.bio-sub-section {
    margin: 5px 20px;
    padding: 10px;
}