/* === | FONTS: Import Google Fonts | === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 20px;

    background: #554cc7;
    background-clip: cover;
    background-attachment: fixed;
}

/* === | TOP BAR | === */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
    background-color: #000c7d;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    color: white;
}

/* === | HERO SECTION: Picture for Display | === */
.hero-section {
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
}

#hero-pic {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    opacity: 0.75;
    object-fit: cover;

    -webkit-box-reflect: below 0px
    linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
}